<div
  id="code-editor"
  class="flex w-full h-full"
  phx-hook="CodeEditor"
  phx-update="ignore"
  data-language={@language}
  data-code={@code}
>
  <div class="w-full h-full" data-el-code-editor />
</div>
